* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px;
}

ul {
  list-style: none;
}

.btn {
  background-color: rgb(158, 232, 239);
  border-radius: 5px;
  padding: 9px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: none;
  outline: none;
}

body>div {
  margin-bottom: 20px;
}

.interactivity-cars {
  display: flex;
  width: 100%;
  gap: 5px;
}

.interactivity-cars>* {
  flex-grow: 1;
}

.create {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.garage {
  width: 100%;
}

.finish {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-image: url(https://www.seekpng.com/png/detail/12-121168_racing-flag-png-file-race-flag-transparent.png);
}

.car-interactivity {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

.car-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.garage h3 {
  margin-top: 20px;
}

.winners h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

th {
  background-color: rgb(106, 106, 239);
  width: 75px;
}

table {
  text-align: center;
}

.car-img {
  width: 45px;
  margin: 0 auto;
}

.pagination .btn {
  width: 120px;
}

.road {
  border-bottom: 2px dashed;
  color: black;
  width: 100%;
  height: 40px;
  position: relative;
}

.finish {
  position: absolute;
  right: 70px;
  bottom: 2px;
}

.car {
  position: absolute;
  top: -4px;
  left: 75px;
  width: 60px;
  height: 60px;

}

.engine-buttons {
  position: absolute;
}